<a href="/trungviet/" class="item">
    <img src="<?php echo $this->webroot?>img/logo-64.png" class="image mini" alt="">

</a>
<a class="item" data-title="Using click events" data-content="Clicked popups will close if you click away, but not if you click inside the popup">
    <i class="home icon" ></i>
    <label>Home</label>
</a>
<a class="item">
    <i class="block layout icon"></i>
    <label>Home</label>
</a>
<a class="item">
    <i class="smile icon"></i>
    <label>Home</label>
</a>
<a class="item">
    <i class="calendar icon"></i>
    <label>Home</label>
</a>
<script>

</script>
