legend {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
fieldset {
    margin: 1em !important;
    width: 35em;
}
#admin-menu {
    transform: translateX(125px);
    height: 40px;
}
#admin-menu img {
    width: 100px;
    height: 30px;
}
#container {
    padding-top: 30px;
}
