.ui.button,
.ui.header,
.header {
	font-family: 'futura regular' !important;	
}
#home-search-page {
	min-height: 200px;
	background-image: url(../img/bg-form-search.jpg);
	width: 100%;
	padding-top: 40px !important;
	text-align: center;
	font-family: 'futura regular' !important;
}
#home-search-page .header {
	color: white;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
}

#home-services,
#gioi-thieu {
	min-height: 300px;
	text-align: center;
	position: relative !important;
}
#home-services > .header ,
#gioi-thieu > .header{
	color: gray;
	font-size: 2em;
	padding-top: 10px !important;
	margin-bottom: 20px;
	text-transform: uppercase;
}
#gioi-thieu {
	padding: 30px 10px;
	
	padding-bottom:50px;
}
#gioi-thieu .column {
	min-height: 700px !important;
}
#gioi-thieu .column  .header {
	font-size: 	2em;
	/*padding: 10px 20px;*/
	margin-bottom: 	20px !important;

}
#gioi-thieu .column .description {
	text-align: justify !important;
	font-family: 'futura regular' !important;
	font-size: 1.5em;
	line-height: 1.5em;
}
.controller button {
	position: absolute;
	top:48%;
	z-index: 9999;
	color: white;
	background-color: rgba(0,0,0,0.1) !important;
}
.controller button i.icon{
	color: white;
}
.controller button:hover i.icon{
	color: black;
}
.controller button:hover{
	background-color: rgba(255,255,255,0.5) !important;
	color: black;
}
.controller button.left {
	left: 0;
}
.controller button.right {
	right: 0;
}
.move-left {
	transform: translateX(-25px);
	transition: transform 1s;
}
.ui.tab.segment.active .column{
  -vendor-animation-duration: 4s;
  -vendor-animation-delay: 0;
  -vendor-animation-play-state: running;
  -vendor-animation-fill-mode: forwards !important	;
  -vendor-animation-iteration-count: infinite;
}
.top30 {
	margin-top: 30px !important;
}
#menu-top {
	z-index: 999999 !important;
}
.sidebar {
	z-index: 999999999 !important;
}
.remove.circle.outline:hover {
	cursor: pointer;
	font-weight: bolder;
}

/*Service setiing*/
#cnt-service {
	padding-left: 50px;
	padding-right: 50px;
}
.ui.menu.borderless {
	border: none !important;
	margin-top: 20px;
	margin-right: 5px;
	box-shadow: none !important;
}
#cnt-service .ui.menu.borderless .item {
	margin-left: 10px !important;
	margin-right: 10px !important;
	border: 1px solid #eee !important;
	min-width: 230px !important;
	text-transform: uppercase;
	background-color: gray;
}
.ui.menu.borderless .item.active {
	background-color: red !important;
	color: white;
}
#cnt-service .tab {
	margin-left: 10px !important;
}
