@font-face {
    font-family: 'futura regular';
    src: url(../font/futura-regular.otf);
}
@font-face {
    font-family: 'futura bold';
    src: url(../font/futura-bold.otf);
}
@media screen and (min-width: 960px) {
    #main-menu {
        margin: 0;
        padding-left:50px;
        padding-right:50px;
    }
}
#main-menu,
#main-menu .menu {
    z-index: 999;
}

#main-menu .item {
    font-family: "futura regular" !important;
}
#main-menu .image b {
    font-family: "futura bold" !important;
}
#main-menu.fixed.top > .item:not(:first-child):not(:last-child):hover
{
    background-color: #444;
    border-bottom: 2px solid #000;
    color: white;
}
#main-menu.fixed.top.inverted {
    background-color: rgba(0,0,0,0.9) !important;
}
#main-menu.fixed.top.inverted .ui.input input {
    background-color: rgba(0,0,0,0.5) !important;
    color: white !important;
}
#main-menu.fixed.top.inverted .ui.input i.icon {
    color: white !important;
}
#main-menu > .item:not(:first-child) {
    margin: 15px 5px !important;
    height: 40px !important;
    text-transform: uppercase;
}
#main-menu > a.item:not(:first-child):hover,
#main-menu > div.item:not(:last-child):hover {
    background-color: #eee;
    border-bottom: 2px solid #bbb;
    border-radius: 3px;
    color: black;
}
#main-menu .menu .item {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
#main-menu .menu .item:hover{
    background-color: #eee;
    border-bottom: 2px solid #bbb;
    border-radius: 3px;
    color: black;
}
#main-menu.fixed.top .menu .item:hover{
    background-color: #444;
    border-bottom: 2px solid #000;
    color: white;
}
#main-menu .menu .item:not(:last-child){
    border-bottom: 1px solid #bbb;
}
