.menu.sidebar {
	margin-top: 42px !important;*/
	z-index: 99;
	position: fixed;
	box-shadow: none !important;
}
.menu.sidebar.icon {
	width: 30px;
}
.ui.sidebar {
	overflow: visible !important;
}
.ui.styled.accordion, .ui.styled.accordion .accordion {
	background-color: transparent !important;
	border-radius: 0;
}
.accordion .title {
	color: black;
	font-size: 14px;
	cursor: pointer;
}
.ui.styled.accordion .accordion .title,
.ui.styled.accordion .title {
	font-weight: normal;

}
.ui.styled.accordion,
.ui.styled.accordion .accordion {
	border-bottom: 1px solid rgba(34,36,38,.5);
}
.ui.styled.accordion .accordion .content,
.ui.styled.accordion .content {
	padding: 0;
}

label.hidden {
	display: none !important;
}
img.sidebar-mini {
	height: 30px !important;
	width: 30px !important;
	border-radius: 50%;
}
#container-admin.pusher {
	width: 80.5% !important;
}
#container-admin.translate72 {
	-webkit-transform: translate3d(80px,0,0) !important;
	transform: translate3d(80px,0,0) !important;
	width: 93% !important;
}
.ui.sidebar {
	overflow-y: scroll !important;
}
.ui.sidebar::-webkit-scrollbar {
	width: .5em;
}
.ui.sidebar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.ui.sidebar::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}