.slide-container {
	position: relative;
	width: 100%;
	height: 450px;
	overflow: hidden;
	z-index: 10;
	background-image: url(../img/banner-index.jpg);
}
.caption,
.ui.image {
/*	position: absolute;
	top: 0;
	left: 0;*/
	z-index: 10;
	width: 1366px;
	height: 100%;
}
.caption {
	background-color: rgba(1,1,1,0.5);
	z-index: 200;
	color: white;
	text-align: center;
}
.caption h3 {
	text-transform: uppercase;
	position: relative;
	font-size: 2.5em;
	font-family: "futura bold";
	top: 20%;
	padding: .15em .25em;
}
.caption h4 {
	color: white;
	text-transform: uppercase;
	position: relative;
	top:  18%;
	padding: .10em .20em;
	font-size: 2em;
	font-family: "futura regular";
}
.caption h5 {
	position: relative;
	top: 15%;
	text-transform: capitalize;
	font-size: 1.5em;
	font-family: "futura bold";
}