
<div class="ui item" id="home-search-page">
	<h4 class="ui header">Hãy cho chúng tôi biết nhu cầu của bạn</h4>
	<div class="item ui search fluid">
	    <div class="ui big action floated left icon input">
	  		<input type="text" placeholder="Search massive..." size="45">
	  		<i class="search icon"></i>
	  		<a class="ui icon button">
	    		Tìm kiếm
	  		</a>
		</div>
	</div>
</div>