<div class="ui item" id="home-services">
	<h4 class="header">DỊCH VỤ CỦA CHÚNG TÔI</h4>
	<!-- <div class="ui secondary menu" style="padding-left: 30%;">
		<a class="item active" data-tab="first">First</a>
		<a class="item" data-tab="second">Second</a>
	</div> -->
	
	<!-- <div class="controller">
		<button href="" class="ui icon transparent large button left">
			<i class="chevron left icon large"></i>
		</button>
		<button href="" class="ui icon transparent large button right">
			<i class="chevron right icon large"></i>
		</button>
	</div>
	<div class="ui tab segment active" data-tab="first">
		<div class="ui six column grid" style="width: 205%;overflow: hidden;">
			<div class="column">
				<div class="ui fluid card">
					<div class="content">
						<a class="header">Elliot Fu</a>
					</div>
					<div class="image">
						<img src="<?php echo $this->webroot;?>img/img1.jpg">
					</div>
					<div class="content">
						<a class="header">Daniel Louise</a>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui fluid card">
					<div class="content">
						<a class="header">Elliot Fu</a>
					</div>
					<div class="image">
						<img src="<?php echo $this->webroot;?>img/img1.jpg">
					</div>
					<div class="content">
						<a class="header">Daniel Louise</a>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui fluid card">
					<div class="content">
						<a class="header">Elliot Fu</a>
					</div>
					<div class="image">
						<img src="<?php echo $this->webroot;?>img/img1.jpg">
					</div>
					<div class="content">
						<a class="header">Daniel Louise</a>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui fluid card">
					<div class="content">
						<a class="header">Elliot Fu</a>
					</div>
					<div class="image">
						<img src="<?php echo $this->webroot;?>img/img1.jpg">
					</div>
					<div class="content">
						<a class="header">Daniel Louise</a>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui fluid card">
					<div class="content">
						<a class="header">Helen Troy</a>
					</div>
					<div class="image">
						<img src="<?php echo $this->webroot;?>img/img2.jpg">
					</div>
					
				</div>
			</div>
			<div class="column">
				<div class="ui fluid card">
					<div class="content">
						<a class="header">Elliot Fu</a>
					</div>
					<div class="image">
						<img src="<?php echo $this->webroot;?>img/img3.jpg">
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="ui tab segment" data-tab="second">
	<div class="ui four column grid">
		<div class="column">
			<div class="ui fluid card">
				<div class="image">
					<img src="<?php echo $this->webroot;?>img/img3.jpg">
				</div>
				<div class="content">
					<a class="header">Daniel Louise</a>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui fluid card">
				<div class="image">
					<img src="<?php echo $this->webroot;?>img/img2.jpg">
				</div>
				<div class="content">
					<a class="header">Helen Troy</a>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui fluid card">
				<div class="image">
					<img src="<?php echo $this->webroot;?>img/img1.jpg">
				</div>
				<div class="content">
					<a class="header">Elliot Fu</a>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui fluid card">
				<div class="image">
					<img src="<?php echo $this->webroot;?>img/img2.jpg">
				</div>
				<div class="content">
					<a class="header">Elliot Fu</a>
				</div>
			</div>
		</div>
	</div>
	</div> -->
</div>

<script type="text/javascript">
	var arr = ['img1.jpg','img2.jpg','img3.jpg'];
	$('.ui.menu .item').tab({
	})
	// setInterval(slide,5000);
	
	function slide(){
		var animationName = "custom2";
		// $('.ui.tab.segment.active .column').addClass(animationName)
		var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
		$('.ui.tab.segment.active .column').addClass(animationName).one(animationEnd, function() {
            // $(this).removeClass(animationName);
            var arrimg = $('.ui.tab.segment.active').find('img');
            rotateArr(arr);
            console.log(arrimg);
            arrimg[0].src = '<?php echo $this->webroot;?>img/'+arr[0];
           	arrimg[1].src = '<?php echo $this->webroot;?>img/'+arr[1];
            arrimg[2].src = '<?php echo $this->webroot;?>img/'+arr[2];
        });
	}
	$('.button.left').click(slide)
	function rotateArr(arr){
		var tmp = arr[0];
		for (var i = 0; i < arr.length-1; i++) {
			arr[i] = arr[i+1];
		}
		arr[i] = tmp;
		return arr;
	}
</script>