<a class="item">
	<i class="home icon"></i>
	Home
</a>
<a class="item">
	<i class="block layout icon"></i>
	Topics
</a>
<a class="item">
	<i class="smile icon"></i>
	Friends
</a>
<a class="item">
	<i class="calendar icon"></i>
	History
</a>
<?php
//	$flag = false;
//	foreach ($catalogues as $key=>$value){
//		if ($value[1]=='0'){
//			if($value[2]==false){
//				echo $this->Html->link('<i class="'.$value[3].'"></i>'.$value[0],'/',array('class'=>'item','escape'=> false));
//			}else {
//				echo '<div class="ui styled accordion inverted vertical">';
//				echo '<a class="item title">';
//				echo '<i class="dropdown icon"></i>';
//				echo $value[0];
//				echo '</a>';
//				if (!$flag) {
//					echo '<div class="content active">';
//				}else {
//					echo '<div class="content hidden">';
//				}
//				foreach ($catalogues as $key2 => $value2) {
//					if ($value2[1]==$key) {
//						$flag = true;
//						echo $this->Html->link('<i class="'.$value2[3].'"></i>'.$value2[0],
//							'/',
//							array(
//								'class'=>'item',
//								'escape'=> false,
//								'style'=>'padding-left:2em;'
//								)
//							);
//					}
//				}
//				echo '</div></div>';
//
//			// foreach ($catalogues as $key2 => $value2) {
//			//     if ($value2[1]==$key) {
//			//         echo $this->Html->link('<i class="home icon"></i>'.$value2[0],
//			//             '/',
//			//             array(
//			//                 'class'=>'item',
//			//                 'escape'=> false,
//			//                 'style'=>'padding-left:2em;'
//			//                 )
//			//             );
//			//     }
//			}
//		}
//
//	}
//?>
<!--<script type="text/javascript">-->
<!--	(function(window){-->
<!--		$('.accordion').accordion({-->
<!--			-->
<!--		});-->
<!--		$('#menu-sidebar').click(function(){-->
<!--			$('.ui.labeled.sidebar')-->
<!--				.sidebar({-->
<!--					context: $('body'),-->
<!--					scrollLock: true,-->
<!--					transition: 'scale down',-->
<!--					onVisible: function(){-->
<!--						$('#menu-sidebar').find('i').removeClass('sidebar').addClass('close').show(500);-->
<!--					},-->
<!--					onHide: function(){-->
<!--						$('#menu-sidebar').find('i').removeClass('close').addClass('sidebar');-->
<!--					}-->
<!--				})-->
<!--				.sidebar('toggle');-->
<!--		})-->
<!--	})(window);-->
<!--</script>-->